@import './vars.scss';

//Esto es functional css. cada clase hace algo concreto
.bg-yellow {
  background-color: $yellow1;
}

.font-black {
  color: $gray1;
}

.font-white {
  color: $white;
}

.vertical-pad-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.width100 {
  width: 100px;
}

.radius15 {
  border-radius: 15px;
}