$dark-color: #282c34;
$white-color: #ffffff;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $dark-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white-color;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

.name {
  color: gray;
  border: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

.title {
  color: yellow;
  border-color: yellow;
  border-style: dotted;
}

.button {
  padding: 10px;
  margin-bottom: 12px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: $dark-color;
  color: $white-color;
}

.column {
  font-size: 0;
  min-width: 300px;
}

.square {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  border: 1px solid gray;
  font-size: 80px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
}
